<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sobre mí
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="card-container">
    <!-- card -->
    <ion-card>

      <div class="perfil">

        <!-- Imagen -->
        <img src="assets/images/emilia.jpg" alt="Foto de Emilia" class="foto-perfil">

        <!-- Nombre y descripción -->
        <div class="datos-perfil">

          <ion-card-header>
            <ion-card-title>
              EMILIA ALEJANDRA TANA PUGA
            </ion-card-title>

            <ion-card-subtitle>
              Estudiante de Tecnología en Desarrollo de Software
            </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Soy estudiante de Tecnología en Desarrollo de Software,
            con habilidades en programación, desarrollo web y experiencia
            en el uso de herramientas para el desarrollo de software.
          </ion-card-content>

        </div>

      </div>

    </ion-card>

    <!-- lista de contactos -->

    <ion-list class="contact-list">
      <ion-title><b>Información de Contacto</b></ion-title>

      <ion-item>
        <ion-label><b>Número Telefónico: </b> 0995002036</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Correo Electrónico: </b> emilia.tana@epn.edu.ec</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Fecha de Nacimiento: </b>15/04/2005</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Ubicación: </b> Quito, Ecuador</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Git Hub: </b> <a href="https://github.com/Emialejandra" target="_blank">GitHub</a></ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Universidad: </b> ESCUELA POLITECNICA NACIONAL</ion-label>
      </ion-item>

    </ion-list>

  </div>

</ion-content>