.card-container {
  max-width: 900px;
  margin: 20px auto;
}

ion-card {
  margin: 15px 0;
  border-radius: 12px;
  box-shadow: 0 3px 8px rgba(152, 144, 144, 0.08);
  background: rgb(128, 128, 129);
}

ion-card-title {
  font-size: 18px;
  font-weight: bold;
}

ion-item {
  --background: transparent;
}

ion-label h2 {
  font-size: 16px;
  font-weight: bold;
}

ion-label p {
  margin-top: 5px;
  color: #a4a1a1;
}

ion-chip {
  margin: 4px;
    background-color: #424042;
}

ion-card-content p {
  line-height: 1.6;
  color: #837e7e;
}
ion-card-content p.p-profesional {
    color: #131212;
}

ion-accordion {
  margin-top: 15px;
  border-radius: 12px;
  overflow: hidden;
  background: rgb(116, 116, 116);
}

@media (max-width: 600px) {

  .card-container {
    margin: 10px;
  }

}